# Everything needed in production

# Flask
Flask==0.10.1
MarkupSafe==0.23
Werkzeug==0.10.1
Jinja2==2.7.3
itsdangerous==0.24
gunicorn==19.2.1
Flask-Assets==0.10
flask-oauthlib==0.9.0
Flask-Login==0.2.11
Flask-Mail==0.9.1

#Heroku
psycopg2==2.6

# Database
Flask-SQLAlchemy==2.0
SQLAlchemy==0.9.8

# Migrations
git+https://github.com/miguelgrinberg/Flask-Migrate

# Forms
Flask-WTF==0.11
WTForms==2.0.2

## Config
flask-appconfig==0.9.1

# Testing
pytest>=2.6.3
pytest-flask>=0.7.3
webtest

# Management script
Flask-Script

#Stripe
Stripe
