  <header class="site-header" ng-include="'/static/nav/app-nav.html'"></header>

  <div class="profile-top-section">
      <div class="profile-details-container">
          <h3>{{vm.currentUser.name}}</h3>
          <img class="profile-img" src="http://graph.facebook.com/{{vm.currentUser.facebook_id}}/picture?type=large">
          <div class="user-record">{{vm.currentUser.wins}} - {{vm.currentUser.losses}}</div>
      </div>

      <div class="profile-stats">
        <h3 class="user-stats">Stats</h3>

        <div class="good-stats">
          <div class="left-stats">
            <div class="bets-made">{{vm.currentUser.bets_made}}</div>
            <div class="stat-title-label">Bets Made</div>
          </div>
          <div class="right-stats">
            <div class="money-won">{{vm.currentUser.money_won | currency:"$":0}}</div>
            <div class="stat-title-label">Money Won</div>
         </div>
        </div>

        <div class="good-stats">
          <div class="left-stats">
            <div class="total-money-raised">{{vm.currentUser.donation_money_raised | currency:'$':0}}</div>
            <div class="stat-title-label">Total Money Raised</div>
          </div>
          <!-- <div class="right-stats">
            <div class="money-lost">{{vm.currentUser.money_lost | currency:"$":0 }}</div>
            <div class="stat-title-label">Money Lost</div>
          </div> -->
        </div>
      </div>
  </div>

    <div class="stats-vis-section">
        <h2 class="user-stats-header">User Stats</h2>
        <div class="donut-wrap">
          <donut-chart  class="donut" dataset="vm.winDonutData"></donut-chart>
          <div class="donut-stat-inner-wrap">
            <div class="user-win-streak">{{vm.currentUser.win_streak}}<div class="user-win-streak-label">Win Streak</div></div>
          </div>
        </div>

        <div class="gauge-wrap">
          <gauge-chart dataset="vm.gaugeData" class="gauge"></gauge-chart>
          <div class="gauge-stat-inner-wrap">
            <div class="user-win-streak-label">Win Streak Vs. Longest Win Streak</div>
          </div>
        </div>

    



        <!-- <donut-chart  dataset="vm.doo"></donut-chart> -->
        <!-- <money-bar dataset="vm.goo"></money-bar> -->
    </div>

  <div class="profile-section-two">

    <ul class="bets-ul">
      <li class="user-bets-li" ng-repeat="bet in vm.currentUserBets">

      <div class="bets-flex-container">

        <div class="actionable" ng-show="{{bet.needs_accepting==='y'}}">ACCEPT?</div>
        <div class="bets-section-1">
          <div class="bets-title">
            <a href="#/bet/{{bet.id}}">{{bet.title}}</a>
          </div>
          <div class="bets-users">
            <a href="#/bet/{{bet.id}}">{{bet.creator_name}} Vs. {{bet.challenger_name}}</a>
          </div>
          <div class="bets-date">
            {{bet.date | date:'EEEE, MMM d'}}
          </div>
          <div class="bets-amount">
            {{bet.amount | currency}}
          </div>

          <!-- <button class="stripe-button" ng-show="!vm.isBetLoser"><a href="/PAYMENT_TEST">Pay with Stripe</a></button> -->
          <button class="stripe-button" ng-show="vm.isBetLoser" ng-click="">PAY BET</button>







          <!-- <form id="payment-form" ng-submit="vm.sendStripe(bet)" class="user-stripe-form">
            <span class="payment-errors"></span>
            <h3>Pay With Stripe</h3>
            <span class="stripe-detail-label">Bet:</span><span>{{bet.amount | currency}}</span>
            <div class="form-row">
              <label>
                <span>Card Number</span>
                <input type="text" size="20" ng-model="bet.card.number" data-stripe="number"/>
              </label>
            </div>

            <div class="form-row">
              <label>
                <span>Expiration (MM/YYYY)</span>
                <input type="text" size="2" ng-model="bet.card.exp_month" data-stripe="exp-month"/>
              </label>
              <span> / </span>
              <input type="text" size="4" ng-model="bet.card.exp_year" data-stripe="exp-year"/>
            </div>

            <div class="form-row">
              <label>
                <span>CVC</span>
                <input type="text" size="4" ng-model="bet.card.cvc" data-stripe="cvc"/>
              </label>
            </div>

            <button class="stripe-form-submit-button" type="submit">Pay with Stripe</button>
          </form> -->

        <!-- <payment-form ng-show="vm.showpayment===true"></payment-form> -->

        </div>

        <!-- <div class="prize-purse">
          {{}}
        </div> -->
        <div class="bets-section-2">
          <div class="profile-wrap creator-wrap">
            <div class="creator-pic-div">

              <img class="bets-pic" src="http://graph.facebook.com/{{bet.creator_facebook_id}}/picture?type=large"></img>
            </div>
          </div>
        </div>

        <div class="bets-section-3">
          <div class="profile-wrap challenger-wrap">
            <div class="challenger-pic">
              <img class="bets-pic" src="http://graph.facebook.com/{{bet.challenger_facebook_id}}/picture?type=large"></img>
            </div>
          </div>
        </div>

      </div>
      </li>
    </ul>
  </div>
