  <header class="site-header" ng-include="'/static/nav/app-nav.html'"></header>

  <div class="profile-top-section">
      <div class="profile-details-container">
          <h3>{{vm.currentUser.name}}</h3>
          <!-- <h4>{{vm.currentUser.charity}}</h4> -->
          <h4>Kids with Faces</h4>
          <img class="profile-img" src="http://graph.facebook.com/{{vm.currentUser.facebook_id}}/picture?type=large">
      </div>

      <div class="profile-stats">
        <div class="user-record">
          {{vm.user.wins}} - {{vm.user.losses}}
        </div>
        <div class="stat-title-label">Money Won For Charity</div>
        <div class="money-won">{{vm.user.money_won}}</div>
        <div class="stat-title-label">Money Lost For Charity</div>
        <div class="money-won">{{vm.user.money_lost}}</div>
      </div>
  </div>

  <div class="profile-section-two">

    <ul class="bets-ul">
      <li class="user-bets-li" ng-repeat="bet in vm.currentUserBets">

      <div class="bets-flex-container">

        <div class="bets-section-1">
          <div class="bets-users">
            {{bet.creator_name}} Vs. {{bet.challenger_name}}
          </div>
          <div class="bets-title">
            {{bet.title}}
          </div>
          <div class="bets-date">
            {{bet.date | date:'EEEE, MMM d'}}
          </div>
          <div class="bets-amount">
            {{bet.amount | currency}}
          </div>

          <button class="stripe-button" ng-show="!vm.isBetLoser"><a href="/PAYMENT_TEST">Pay with Stripe</a></button>

          <form class="user-stripe-form" data-id="{{bet.id}}" stripe-form="stripeCallback">
            <input ng-model="number" placeholder="Card Number">
            <input ng-model="expiry" placeholder="Expiration">
            <input ng-model="cvc" placeholder="CVC">
            <button class="form-stripe-button" type="submit">Submit</button>
          </form>

          <button ng-click="vm.stripeTest(bet.id)"></button>
          <!-- <form action="/charge" method="post">
           <article>
             <label>
               <span>Amount is $5.00</span>
             </label>
           </article>

           <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                   data-key="pk_test_uJKqYlmmCLr8ZPiVAofhtYZj"
                   data-description="A Flask Charge"
                   data-amount="500"></script>
          </form> -->

        </div>

        <!-- <div class="prize-purse">
          {{}}
        </div> -->
        <div class="bets-section-2">
          <div class="profile-wrap creator-wrap">
            <div class="creator-pic-div">

              <img class="bets-pic" src="http://graph.facebook.com/{{bet.creator_facebook_id}}/picture?type=large"></img>
            </div>
          </div>
        </div>

        <div class="bets-section-3">
          <div class="profile-wrap challenger-wrap">
            <div class="challenger-pic">
              <img class="bets-pic" src="http://graph.facebook.com/{{bet.challenger_facebook_id}}/picture?type=large"></img>
            </div>
          </div>
        </div>

      </div>
      </li>
    </ul>




  </div>
