/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: "fontastic";
  src: url("static/fonts/fontastic.eot");
  src: url("static/fonts/fontastic.eot?#iefix") format("embedded-opentype"), url("static/fonts/fontastic.woff") format("woff"), url("static/fonts/fontastic.ttf") format("truetype"), url("static/fonts/fontastic.svg#fontastic") format("svg");
  font-weight: normal;
  font-style: normal; }

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important; }

body {
  font-family: 'Noto Sans', sans-serif;
  line-height: 1.8em;
  background: #FFF;
  color: #444; }

h1 {
  font-size: 4em;
  margin: 0; }

h2 {
  font-size: 1.5em;
  margin: .75em 0; }

h3 {
  font-size: 1.17em;
  margin: .83em 0; }

h5 {
  font-size: .83em;
  margin: 1.5em 0; }

h6 {
  font-size: .75em;
  margin: 1.67em 0; }

h1, h2, h3, h4, h5, h6 {
  font-weight: bolder; }

p {
  line-height: 1.4em;
  margin-bottom: 1em; }

a {
  color: white;
  text-decoration: none; }

li {
  list-style: none; }

button {
  width: 13em;
  font-size: .875em;
  letter-spacing: 1px;
  border-radius: 6px;
  background-color: #f05f5c;
  border: 0px;
  padding: 1em;
  color: white;
  text-transform: uppercase;
  cursor: pointer; }

.header-nav, .app-header {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  letter-spacing: 1px; }
  .header-nav li, .app-header li {
    padding: 1rem 3rem 1rem 2rem;
    font-size: 1.2em; }
  .header-nav li:first-child, .app-header li:first-child {
    margin-right: auto;
    font-size: 1.6em;
    color: #f05f5c;
    padding-bottom: .6rem;
    font-weight: bold; }
  .header-nav li:last-child, .app-header li:last-child {
    font-size: .8em; }

.app-header li:first-child {
  color: white; }

.active {
  color: green; }

.app-header {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  background: #484848;
  color: white; }

.app-header li:hover {
  background-color: #f05f5c; }

.header-nav li:first-child {
  margin-right: auto; }

@media only screen and (max-width: 620px) {
  .app-header {
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
  li {
    margin: 0 auto; }
  li:first-child {
    margin: 0 auto; } }

footer {
  min-height: 250px;
  background-color: #484848;
  color: white; }

.hero-section {
  height: 90vh;
  position: relative;
  background: url(https://opinionize.files.wordpress.com/2012/08/01_20120713_arm_wrestle_00019-v211.jpg) no-repeat center center fixed;
  background-size: cover;
  color: white; }

.landing-content-wrap {
  padding: 2rem; }

.three-items {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 85%;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0 auto; }

.landing-block {
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  width: 25%;
  padding: 1rem 2rem;
  text-align: center; }

.landing-block-header {
  font-weight: 700;
  font-size: 1.2em;
  text-align: center;
  padding-bottom: 1rem; }

.landing-content-head {
  text-align: center; }

.top-hero-line {
  margin-left: .75em;
  padding-top: .6em;
  line-height: 1em; }

.bottom-hero-line {
  position: absolute;
  right: 0;
  margin-right: .75em;
  bottom: 15%; }

.icons {
  font-family: major-wager;
  text-align: center;
  font-size: 1.7em;
  color: #f05f5c;
  padding-bottom: 1rem; }

.landing-action-buttons {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 2em;
  margin-top: 14rem;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .landing-action-buttons button {
    margin: 0 2em; }

@media only screen and (max-width: 920px) {
  .three-items {
    display: block; }
  .landing-block {
    margin: 0 auto;
    width: 75%; } }

@media only screen and (max-width: 535px) {
  .landing-action-buttons {
    margin-top: 4rem; }
  .sign-up-button {
    margin-bottom: 1rem !important; }
  .bottom-hero-line {
    padding-top: 5em; } }

.create-bet-wrapper {
  text-align: center; }
  .create-bet-wrapper h3 {
    margin: 0; }
  .create-bet-wrapper button {
    display: block;
    margin: 1rem auto 0; }
  .create-bet-wrapper textarea {
    box-sizing: border-box;
    border: 1px solid #BEBEBE;
    padding: 7px;
    margin: 1rem;
    -webkit-transition: all 0.3s ease-in-out;
    outline: none;
    border-radius: 6px;
    resize: none;
    width: 40em; }
  .create-bet-wrapper textarea:focus {
    box-shadow: 0 0 8px #88D5E9;
    border: 1px solid #88D5E9; }

.bet-essentials {
  padding: 1.3rem 0 2rem 0;
  position: relative; }

.bet-size {
  text-align: center; }

.bet-title {
  font-size: 2em;
  padding-bottom: .5rem; }

.donate-button {
  background-color: green; }

.bet-money-earned {
  border: 1px solid black;
  width: 6em;
  margin: 0 auto;
  font-size: 2em;
  padding: 1rem;
  border-radius: 6px; }

.profile-details-wrap {
  position: relative;
  min-height: 350px;
  padding: 1.5rem 0;
  background-color: #484848;
  color: white;
  font-family: 'Oswald', sans-serif;
  letter-spacing: 1px;
  margin: 0 auto; }

.bet-date {
  font-size: 1.3em; }

.bet-description {
  max-width: 30%;
  margin: 0 auto; }

.better-profile {
  display: inline-block;
  position: absolute;
  top: 3rem; }

.bettor-name {
  font-size: 1.5em;
  color: #f05f5c;
  font-weight: 700;
  letter-spacing: 4px; }

.charity {
  padding-bottom: .3em; }

.user-pic {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  border-radius: 100px;
  border: 3px #f05f5c; }

.hero-bettor {
  left: 8%; }

.villian-bettor {
  right: 8%; }

.info-title {
  font-weight: bold;
  padding-top: 1.5rem; }

.end-bet {
  margin: 1.5em auto !important; }

.user-descriptor {
  padding-right: .5rem; }

.comment-section h3 {
  padding-top: 1rem; }

.user-comment {
  font-weight: bold;
  font-size: .85em;
  padding: 0 9px;
  font-style: italic;
  color: #f05f5c; }

.comment-date {
  font-size: .85em;
  font-weight: bold; }

@media only screen and (max-width: 920px) {
  .better-profile {
    position: relative;
    display: block;
    top: 0;
    padding: 2em 0; }
  .hero-bettor, .villian-bettor {
    left: auto;
    right: auto; }
  .villian-bettor {
    background-color: #4BBADA; }
  .bet-description {
    max-width: 70%; }
  .hero-bettor {
    background-color: #B8BDC1; }
  .bet-deets {
    padding-bottom: 2rem; }
  .end-bet {
    margin-top: 3em !important; }
  textarea {
    max-width: 85%; } }

.edit-bet-wrapper input, .edit-bet-wrapper select {
  padding: 1em;
  width: 14em;
  text-align: center;
  border: dotted 1px black;
  font-size: 1.2em;
  border-radius: 6px; }
.edit-bet-wrapper select {
  height: 64px;
  margin-left: 1rem;
  background-color: none; }
.edit-bet-wrapper option {
  font-family: 'Noto Sans', sans-serif; }
.edit-bet-wrapper .bet-amount-input {
  width: 7em;
  margin-left: 1rem; }
.edit-bet-wrapper .bet-challenger-input {
  margin-left: 1rem; }
.edit-bet-wrapper .secondary-input {
  padding: .9em;
  width: 11em;
  font-size: 1em; }
.edit-bet-wrapper .info-title {
  padding: .5rem; }

.select-style {
  padding: 0;
  margin: 1rem auto;
  border: 1px dotted black;
  width: 200px;
  border-radius: 6px;
  overflow: hidden;
  background-color: #fff;
  background: #fff url("http://www.scottgood.com/jsg/blog.nsf/images/arrowdown.gif") no-repeat 90% 50%; }

.select-style select {
  color: gray;
  padding: 5px 8px;
  width: 130%;
  text-align: center;
  border: none;
  box-shadow: none;
  background-color: transparent;
  background-image: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

.select-style select:focus {
  outline: none; }

.bet-description-textarea {
  text-align: center;
  font-size: 1em;
  padding: 1em;
  min-height: 6em;
  width: 15em !important;
  border: dotted 1px black !important; }

@media only screen and (max-width: 920px) {
  .bet-amount-input, .bet-challenger-input {
    margin-top: 1rem;
    margin-left: 0rem !important; }
  select {
    margin-top: 1rem;
    margin-left: 0; } }

.bets-title, .bets-date, .bets-amount, .bets-users {
  text-align: center; }

.bets-li {
  padding: 2rem 0;
  position: relative; }

.bets-users {
  font-size: 1.3em; }

.bets-pic {
  width: 100px;
  height: 100px;
  border-radius: 50px; }

.bets-flex-container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  max-width: 640px;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0 auto; }

.bets-section-1 {
  -webkit-order: 2;
  -ms-flex-order: 2;
  order: 2; }

.bets-section-2 {
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1; }

.bets-section-3 {
  -webkit-order: 3;
  -ms-flex-order: 3;
  order: 3; }
