<p>Dear {{ loser.name}},</p>
<p>{{ winner.name }} has claimed victory in your bet on betti!</p>
<p>Click the link below to view your bet:</p>
<a href="http://localhost:5000/email/{{ bet.id }}">{{ bet.title }}</a><br />

<p>If you accept defeat, please promptly follow the directions to reward {{ winner_charity }} with ${{ bet.amount }} via stripe.</p>
<p>And remember, this was for charity!  So even in losing, you win, because you're giving to a great cause!</p>


<p>Thanks,</p>
<p>The betti team</p>
