<p>Dear {{ recipient.name }},</p>
<p>Sadly, you and {{ opponent.name }} have been unable to agree on the resolution of your betti bet:
<a href="http://localhost:5000/email/{{ bet.id }}">{{ bet.title }}</a><br /></p>
<p>betti is a fun website designed to direct money to charity in a new way.
  We are not in the business of trying to investigate or determine who was the actual winner of the bet.</p>

<p>Because you failed to reach a bet resolution, no charities will receive any donations!</p>
<p>Hopefully on your next betti bet, you'll be able to reach a better outcome.</p>

<p>Thanks,</p>
<p>The betti team</p>
