<p>Dear {{ loser.name}},</p>
<p>Your bet with {{ winner.name }} on betti is over, and you, alas, have lost.</p>
<p>Click the link below to view your bet:</p>
<a href="http://betti.co/email/{{ bet.id }}">{{ bet.title }}</a><br />

<p>Thank you for rewarding {{ winner.charity }} with ${{ bet.amount }} via stripe.</p>
<p>Again, we're sorry that you lost.  But remember, this was for charity!  So even in losing, you win, because your money went to a great cause!</p>


<p>Thanks,</p>
<p>The betti team</p>
