<header class="site-header" ng-include="'/static/nav/app-nav.html'"></header>


<div class="create-bet-wrapper">

  <div class="bet-essentials">
    <div class="bet-title">{{vm.bet.title}}</div>
    <h3>Prize Purse</h3>
    <div class="bet-money-earned-wrap"><h4 class="bet-money-earned">$723</h4></div>
    <button class="donate-button">$DONATE$</button>
  </div>

    <div class="profile-details-wrap">
      <div class=bet-flex-wrap>

      <div class="bet-deets flex-section-a">
        <div class="bet-date">{{vm.bet.date | date:'EEEE, MMM d'}}</div>
        <div class="info-title">Bet Amount:</div>
        <div class="bet-size">{{vm.bet.amount | currency}}</div>
        <div class="info-title">Location:</div>
        <div class="location">{{vm.bet.location}}</div>
        <div class="info-title">Description:</div>
        <div class="bet-description">{{vm.bet.description}}</div>

        <div ng-if="(vm.isBettor && !vm.isChallengeable)" class="choose-winner-div">
          <button class="end-bet" ng-click="showme=true;" ng-hide="showme===true">WHO WON?</button>
          <div class="choose-winner-wrapper">
              <!-- <p ng-hide="showme">It will appear here!</p> -->
              <div ng-show="showme">
                  <button class="bet-win" ng-click="vm.betOutcomeWin();showme=false">I WON</button>
                  <button class="bet-lose" ng-click="vm.betOutcomeLose();showme=false">I LOST</button>
                  <a ng-click="showme=false">Cancel</a>
              </div>
          </div>
        </div>

        <button ng-if="vm.isChallengeable" ng-click="vm.acceptBet()">ACCEPT BET</button>
      </div>


        <div class="better-profile hero-bettor flex-section-b">
          <div class="bettor-name">{{vm.bet.creator_name}}</div>
          <div class="charity">Kids with Faces</div>
          <div class="user-pic"><img class="user-pic" src="http://graph.facebook.com/{{vm.bet.creator_facebook_id}}/picture?type=large"></div>
          <div class="wins-losses"><span class="user-descriptor">Record:</span>37-0</div>
          <div class="location">Durham, NC</div>
        </div>

        <div class="better-profile villian-bettor flex-section-c">
          <div class="bettor-name">{{vm.bet.challenger_name}}</div>
          <div class="charity">Girl Scouts of America</div>
          <div class="user-pic"><img class="user-pic" src="http://graph.facebook.com/{{vm.bet.challenger_facebook_id}}/picture?type=large"></div>
          <div class="wins-losses"><span class="user-descriptor">Record:</span>12-29</div>
          <div class="location">Chapel Hill, NC</div>
        </div>
    </div>
 </div>


  <div class="comment-section">
    <h3>Comments & Trash Talk</h3>
    <ul class="comment-ul">
        <li class="comment-li" ng-repeat="comment in vm.bet.comments"><span class="user-comment">{{comment.comment}}</span><span class="comment-name">{{comment.name}}</span><span class="comment-date">12/12/12 2:00pm</span></li>
    </ul>

    <form ng-submit="vm.addComment()" class="comment-form">

    <textarea placeholder="comment" ng-model="vm.comment.comment"></textarea>
    <button class="submit-comment">Comment</button>
    </form>
  </div>



</div>
