

.bets-title, .bets-date, .bets-amount, .bets-users {
  text-align: center;
}

.bets-secondary-action-div {
  // border-bottom: 1px $secondary-accent-color solid;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  button {
    display: inline-block;
    border-radius: 0;
    padding: .5rem 0;
    width: 7em;
  }

  .bets-filter-button {
    background-color: $my-gray;
    color: $secondary-accent-color;
    margin: 0;
  }

  .bets-filter-button:hover {
    background-color: $secondary-accent-color;
    color: $my-gray;
    margin: 0;
  }

  .bets-filter-active {
    background-color: purple;
    color: yellow;
  }
}



.filter-sort-wrap {
  display: flex;
  flex-direction: column;
}

.bets-page-header {
  padding-left: 2rem;
  display: inline-block;

}

.bets-sort {
  margin-top: .15rem;
  // margin-left: .25rem;
  float: right;
}

.bets-funding {
  font-size: 1.3em;
  font-weight: 700;

}



.bets-li {
  background-color: $my-white;
  padding: 2rem 0;
  position: relative;
  color: $my-black;
  border-bottom: 2px solid #e7e7e7;
}

.user-stats-header {
  color: $secondary-accent-color;
}

.bets-title {
  font-size: 2.2em;
  padding-bottom: 1rem;
  letter-spacing: 2px;
  line-height: 1.25em;


  a {
    color: $secondary-accent-color;
    font-family: 'Raleway', serif;
  }
}

.bets-title:hover {
  a {
    color: $main-accent-color;
    }
}

.bets-users {
  font-size: 1.3em;
  color: $my-black ;
}

.bets-amount {
  font-size: 1.4em;
  color: $secondary-accent-color;
}

.bets-pic {
  width: 140px;
  height: 140px;
  border-radius: 70px;
  border: 3px solid $secondary-accent-color;
}

.bets-flex-container {
  display: flex;
  flex-direction: row;
  max-width: 880px;
  justify-content: space-around;
  margin: 0 auto;
  font-family: 'Raleway', sans-serif;
  color: $secondary-accent-color;
}

.stat-title-label {
  font-weight: 400;
}

.bets-section-1 {
  order: 2

}

.bets-section-2 {
  order: 1

}

.bets-section-3 {
  order: 3;

}

.number {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

#stat-title-label-winner {
  font-weight: 400;
  font-family: 'Raleway', sans-serif;
}


// .creator-pic-div {
//   position: absolute;
//   top: 2rem;
//   left: 15%
// }
//
// .challenger-pic {
//   position: absolute;
//   top: 2rem;
//   right: 15%
// }


@media only screen and (max-width : 480px) {
  .bets-pic {
    margin-top: 1.5rem;
    height: 60px;
    width: 60px;
  }
}
