.create-bet-wrapper {
  text-align: center;
  background-color: $my-white;
  color: $secondary-accent-color;
  font-family: 'Raleway', sans-serif;

  h3 {
    // padding: 1rem;
  }

.bet-page-header {
  text-align: left;
  padding: 0 2rem;
  margin-bottom: 0;
}
  button {
    display: block;
    margin: 0 auto 0;
  }

  textarea {
      box-sizing: border-box;
      border:1px solid #BEBEBE;
      padding: 7px;
      margin:1rem;
      -webkit-transition: all 0.30s ease-in-out;
      outline: none;
      border-radius: 6px;
      resize: none;
      width: 40em;
  }

   textarea:focus {
      box-shadow: 0 0 8px #88D5E9;
      border: 1px solid #88D5E9;
  }
}

.bet-section-top {
  display: flex;
  flex-direction: row;
  max-width: 1050px;
  justify-content: space-between;
  margin: 0 auto;
  flex-wrap: wrap;
  padding: 0em 0 1em;
}

.flex-section-1 {
  order: 2;
}

.flex-section-2 {
  order: 1;

}

.flex-section-3 {
  order: 3;
}

.bet-essentials {
  padding: 2rem 0 4rem 0;
  // position: relative;
  max-width: 33%;
  margin: 0 auto;
}

.bet-size {
  text-align: center;
  font-size: 3em;
  font-weight: 800;

}

.wins-losses {
  padding:.65rem;
  font-size: 2em;
  font-weight: bold;
}

.bet-title {
  max-width: 95%;
  font-size: 2.4em;
  margin: 0 auto;
  padding: 3rem 0 1.5rem;
  color: $secondary-accent-color;
  line-height: 1.3em;
  font-family: 'Raleway', sans-serif;
  // padding-bottom: 1rem;
  // padding-bottom: .5rem;
}

.donate-button {
  background-color: $secondary-accent-color;
}

.bet-money-earned {
  // border: 1px solid black;
  width: 6em;
  margin: 0 auto;
  font-size: 3em;
  // padding-top: 1rem;
  border-radius: 6px;
}


.profile-details-wrap {
  // border: 1px black solid;
  // min-height: 350px;
  padding: 0 0;
  // background-color: $my-black;
  color: white;
  // font-family: 'Oswald', sans-serif;
  letter-spacing: 1px;
  margin: 0 auto;
  // max-width: 1200px;
}


.bet-date {
  font-size: 1.3em;
}

.bet-description {
  margin: 0 auto;
}

.better-profile {
  display: inline-block;
  position: relative;
  padding-top: 1rem;
}

.winner-img {
  position: absolute;
  width: 70px;
  height: auto;
  top: -30px;
  left: 50%;
  transform: translate(-50%);
}

.bettor-name {
  font-size: 1.5em;
  color: $secondary-accent-color;
  letter-spacing: 4px;
  padding-top: 1rem;
  text-align: center;

  a {
    color: $secondary-accent-color;
    font-family: 'Raleway', sans-serif;
  }

  a:hover {
    color: $main-accent-color;
    -webkit-animation-name: 'pulse_animation';
    -webkit-animation-duration: 5000ms;
    -webkit-transform-origin:70% 70%;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
  }
}


@-webkit-keyframes pulse_animation {
 0% { -webkit-transform: scale(1); }
 30% { -webkit-transform: scale(1); }
 40% { -webkit-transform: scale(1.08); }
 50% { -webkit-transform: scale(1); }
 60% { -webkit-transform: scale(1); }
 70% { -webkit-transform: scale(1.05); }
 80% { -webkit-transform: scale(1); }
 100% { -webkit-transform: scale(1); }
}

.charity {
  padding-bottom: 0em;
}

.select-org {
  color: black;
  padding-bottom: 1rem;
}

.user-pic {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  border-radius: 100px;

  img {
    border: 5px $secondary-accent-color solid;
  }

}

.hero-bettor {
  left: 08%;
}

.villian-bettor {
  right: 08%;
}

.info-title {
  padding: .65rem 0 2.7rem;
}

.end-bet {
  margin: 1.5em auto !important;
}

.user-descriptor {
  padding-right: .5rem;
}

.comment-section h3 {
  padding-top: 3rem;
}

.user-comment {
  font-weight: bold;
  font-size: .85em;
  padding:  0 9px;
  color: black;
}

.comment-date {
  font-size: .85em;
  font-weight: bold;
}


.creator-pending {
  padding: 0 0 2.3rem;
  font-size: 1.4em;
}

.creator-pending {
     animation: blink 1s steps(5, start) infinite;
     -webkit-animation: blink 1s steps(5, start) infinite;
   }
   @keyframes blink {
     to {
       visibility: hidden;
     }
   }
   @-webkit-keyframes blink {
     to {
       visibility: hidden;
     }
   }


.bet-flex-wrap {
  display: flex;
  flex-direction: row;
  max-width: 1000px;
  justify-content: space-around;
  margin: 0 auto;
  flex-wrap: wrap;
  padding-bottom: 3rem;
}

.flex-section-a {
  order: 2

}

.flex-section-b {
  order: 1

}

.flex-section-c {
  order: 3;

}

.choose-winner-wrapper {
   width: 100%;
   margin: 0 auto;
}

.bet-win {
  background-color: $secondary-accent-color;
}

.bet-lose, .bet-win {
  margin: 0 auto;
  // width: 6em;
}

.comment-form {
  margin: 0 auto;
}

.submit-comment {
  display: inline-block;
  height: 35%;
  // margin-left: .2rem !important;
  // margin-top: 1.4rem !important;

}

.comment-li {
  max-width:
}

.comment-section {
  text-align: center;
  padding-bottom: 3rem;
}

.comment-date {
  font-weight: bold;
}

.comment-date {
  margin-left: .3rem;
  font-style: italic;
  color: $main-accent-color;
}



@media only screen and (max-width : 920px) {
  .better-profile {
    display: block;
    padding: 2em 0;
  }

  .bet-essentials {
    max-width: 85%;
  }

  .bet-flex-wrap, .bet-section-top {
    flex-direction: column;
  }

  .flex-section-a, .flex-section-1 {
    order: 1;
  }

  .flex-section-b, .flex-section-2 {
    order: 2;
  }

  .flex-section-c, .flex-section-3 {
    order: 3;
  }


  .hero-bettor, .villian-bettor {
    left: auto;
    right: auto;
  }

  .villian-bettor {
    background-color: $secondary-accent-color;

    a, .wins-losses, .charity {
      color: $my-white;
    }

    .donate-button {
      border: white 1px solid;;
    }
  }

  .bet-description {
    max-width: 70%;
  }

  .hero-bettor {
    background-color: $my-gray;
  }

  .bet-deets {
    padding-bottom: 2rem;
    text-align: center;

  }

  .end-bet {
    margin-top: 3em !important;
  }

  textarea {
    max-width: 85%;
  }

}

.loser-status {
  color: black;
}

.bet-pay-form {
  color: black;
}

input.ng-invalid.ng-dirty {
 background-color: #FA787E;
}

input.ng-valid.ng-dirty {
 background-color: #78FA89;
}

@media only screen and (max-width : 480px) {


}
