

.bets-title, .bets-date, .bets-amount, .bets-users {
  text-align: center;
}

.bets-li {
  padding: 2rem 0;
  position: relative;
  background-color: $secondary-accent-color;
  color: white;
  border-bottom: black 1px solid;
}

.bets-title {
  font-size: 1.2em;
}

.bets-users {
  font-size: 1.3em;
}

.bets-pic {
  width: 100px;
  height: 100px;
  border-radius: 50px;

}

.bets-flex-container {
  display: flex;
  flex-direction: row;
  max-width: 640px;
  justify-content: space-between;
  margin: 0 auto;
}

.bets-section-1 {
  order: 2

}

.bets-section-2 {
  order: 1

}

.bets-section-3 {
  order: 3;

}

// .creator-pic-div {
//   position: absolute;
//   top: 2rem;
//   left: 15%
// }
//
// .challenger-pic {
//   position: absolute;
//   top: 2rem;
//   right: 15%
// }
