

.bets-title, .bets-date, .bets-amount, .bets-users {
  text-align: center;
}

.bets-secondary-header {
  max-width: 1100px;
  position: relative;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.bets-date {
    font-size: 1.4em;
}

.search-bar {
  margin-top: .3rem;
  // background-color: $my-white;
  font-family: "Raleway";
  display: inline-block;


    input {
      margin-left: .3rem;
      padding: .25em;
      outline: none;
      border-radius: .2em;
    }

    input:focus {
      background-color:$my-white;
    }

}

.search-bar:active {
  background-color: $my-white;

}

.bettor-name {
  // text-align: center;
  max-width: 200px;
}
.bets-secondary-action-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: no-wrap;
  // max-width: 1050px;
  // margin: 0 auto;
  position: relative;

  z-index: 1000;
  background-color: $my-white;
  opacity: .7;

  .search-filter-wrap {
    display: inline-block;
  }


  button {
    display: inline-block;
    border-radius: 0;
    padding: .5rem 0;
    width: 7em;
  }

  .bets-filter-button {
    background-color: $my-gray;
    color: $secondary-accent-color;
    margin: 0;
  }

  .bets-filter-button:hover {
    background-color: $secondary-accent-color;
    color: $my-gray;
    margin: 0;
  }

  .bets-filter-active {
    background-color: white;
    color: $secondary-accent-color;
  }

  .show-filters {
    height: 43px;
    margin-left: 3rem;
  }
}

.bets-filter {
  margin: 0 !important;
  display:flex;
  justify-content: flex-end;
}

.filter-sort-wrap {
  top: 4em;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  opacity: 0;
}

.bets-page-header {
  padding-left: 2rem;
  display: inline-block;
}

.bets-sort {
  // margin-left: .25rem;
  float: right;
}

.bets-funding {
  font-size: 2em;
  // font-weight: 700;
  padding-top: .4rem;
}

.bets-funding-title {
  font-size: 1.5rem;
  padding-top: .8rem;
}



.bets-li {
  background-color: $my-white;
  padding: 2rem 0;
  position: relative;
  color: $my-black;
  border-bottom: 2px solid #e7e7e7;
}

.filter-close {
  position: absolute;
  top: 2.2em;
  right: -50px;
  background: none;
  color: $secondary-accent-color;
}

.filter-close:hover {
  background: none;
}


.bets-title {
  font-size: 2.2em;
  padding-bottom: 1rem;
  letter-spacing: 2px;
  line-height: 1.25em;
  max-width: 475px;


  a {
    color: $secondary-accent-color;
    font-family: 'Raleway', serif;
  }
}

.bets-title:hover {
  a {
    color: $main-accent-color;
    }
}

.bets-users {
  font-size: 1.3em;
  color: $my-black ;
  max-width: 200px;
}

.bets-amount {
  font-size: 2em;
  color: $secondary-accent-color;
  padding-top: .4rem;
}

.bets-pic {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  border: 3px solid $secondary-accent-color;
}

.bets-flex-container {
  display: flex;
  flex-direction: row;
  max-width: 1000px;
  // min-width: 0px;
  justify-content: space-between;
  margin: 0 auto;
  font-family: 'Raleway', sans-serif;
  color: $secondary-accent-color;
}

.stat-title-label {
  font-weight: 400;
}

.bets-section-1 {
  order: 2

}

.bets-section-2 {
  order: 1

}

.bets-section-3 {
  order: 3;
}

.profile-wrap {
  text-align: center;
}

.number {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

#stat-title-label-winner {
  font-weight: 400;
  font-family: 'Raleway', sans-serif;
  font-size: 1.5em;
}

.bets-actual-winner {
  padding-top: .4rem;
  font-size: 1.5em;
}

.animate-show {
  line-height: 20px;
  opacity: 1;
  padding: 10px 10px 0 10px;
  // border: 1px solid black;
  // background: white;
}

.animate-show.ng-hide-add.ng-hide-add-active,
.animate-show.ng-hide-remove.ng-hide-remove-active {
  // -webkit-transition: all linear 0.5s;
  transition: all linear 0.5s;
}

.animate-show.ng-hide {
  line-height: 0;
  opacity: 0;
  padding: 0 10px;
}



@media only screen and (max-width : 960px) {

  .bets-flex-container {
    display: flex;
    flex-direction: column;
    max-width: 0;
    min-width: 300px;
    margin: 0 auto;
    //
    // min-width: 0px;
    // justify-content: center;
    // margin: 0 auto;
    font-family: 'Raleway', sans-serif;
    color: $secondary-accent-color;
  }

  .bets-ul {
    width: 85%;
    margin: 0 auto;
  }

  .bets-section-1 {
    order: 1;
  }

  .bets-section-2 {
    order: 2;
    text-align: center
  }

  .bets-section-3 {
    order: 3;
    text-align: center
  }

  .bets-title {

    a {

    text-align: center;
    }
  }

  .bets-user {

    a {
    text-align: center;
    }
  }

  .profile-wrap {
    padding-top: 2rem;
  }


}

@media only screen and (max-width : 480px) {

}
