axis path, .axis line {
   fill: none;
   stroke: black;
   shape-rendering: crispEdges;
}
.axis text {
   font-family: sans-serif;
   font-size: 11px;
}
#tooltip {
   position: absolute;
   text-align: center;
   width: 40px;
   height: auto;
   padding: 10px;
   background-color: white;
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   border-radius: 10px;
   -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
   -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
   box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
   pointer-events: none;
}
#tooltip.hidden {
   display: none;
}
#tooltip p {
   margin: 0;
   font-family: sans-serif;
   font-size: 16px;
   line-height: 20px;
}

.stats-vis-section {
  position: relative;
  min-height: 500px;
  background-color: $my-white;
  padding: 2rem;
}

.donut-wrap {
  position: absolute;
}

donut-chart {
  display: inline-block;
  padding-left: 5rem;
}

.donut {
  position: relative;
}

.donut-stat-inner-wrap {
  text-align: center;
  position: absolute;
  top: 40%;
  left: 50%;
  font-weight: bold;
}

.user-win-streak {
  font-size: 3.4em;
}

.user-win-streak-label {
  font-size: .9rem;
  padding: .6rem 0 0 .4rem;
}

svg {
  padding: 0;
}

.gauge-wrap {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  // top: 0;
  // left: 0;
}

.gauge-stat-inner-wrap {
  position: absolute;
  top: 150px;
  left: 50%;
  transform: translate(-50%);
}



path.line {
 fill: none;
 stroke: $secondary-accent-color;
 stroke-width: 1.5px;
}

path.area {
 fill: #e7e7e7 ;
}

.axis {
 shape-rendering: crispEdges;
}

.x.axis line {
 stroke: $secondary-accent-color;
}

.x.axis .minor {
 stroke-opacity: .5;
}

.x.axis path {
 display: none;
}

.y.axis line, .y.axis path {
 fill: none;
 stroke: $secondary-accent-color;
}

path.area {
 fill: #e7e7e7 ;
}

svg {
   background: $my-white;
}

.axis path,
.axis line {
   fill: none;
   stroke: $secondary-accent-color;
   shape-rendering: crispEdges;
}

.axis text {
   font-family: 'Raleway';
   font-size: 12px;
   stroke: $secondary-accent-color;
}
