.charity-signup {
  background: url(https://opinionize.files.wordpress.com/2012/08/01_20120713_arm_wrestle_00019-v211.jpg) no-repeat center center fixed;
  background-size: cover;
  // position: relative;



  a {
  font-size: 1.2em;
  color: black;
  }

.charity-button {
    padding: .65em;
    // margin-top: 12em;
    position: absolute;
    top: 50%;
    left: 22%;
    transform: translate(-50% -50%);
  }


}
