$main-accent-color: #f05f5c;
// $main-accent-color:  #4BBADA;
$my-black: #484848;
// $my-gray: #B8BDC1;
$my-gray:#d3d5d8;
$secondary-accent-color: #3072a8;
// $secondary-accent-color:#1F4D5A;
// $my-blue: #1F77B4;
$my-white: #F4F4F4;
$second-blue: #1F4D5A;
