body {
    font-family: 'Noto Sans', sans-serif;
    line-height: 1.8em;
    background: #FFF;
    color: #444;
}

h1 { font-size: 4em; margin: 0}
h2 { font-size: 1.5em; margin: .75em 0 }
h3 { font-size: 1.17em; margin: .83em 0 }
h5 { font-size: .83em; margin: 1.5em 0 }
h6 { font-size: .75em; margin: 1.67em 0 }
h1, h2, h3, h4,
h5, h6 {
  font-weight: bolder
}

p {
  line-height: 1.4em;
  margin-bottom: 1em;
}

a {
  color: white;
  text-decoration: none;
}

li {
  list-style: none;
}

button {
  width: 13em;
  font-size: .875em;
  letter-spacing: 1px;
  border-radius: 6px;
  background-color: $main-accent-color;
  border: 0px;
  padding: 1em;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
}

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }
