.edit-bet-wrapper {

  background-color: $my-white;

  input, select {
    padding: 1em;
    width: 14em;
    border: dotted 1px black;
    font-size: 1.2em;
    border-radius: 6px;
  }

  .bet-essentials {
    padding: 0;
  }

  .input-primary {
    height: 45px;
    margin-bottom: 1rem;
    background: $my-white;
    color: #999999;
    // margin-left: 2rem;
  }

  select {
    height: 64px;
    margin-bottom: 1rem 0;
    background-color: none;
  }

  option {
    font-family: 'Raleway', sans-serif;
    font-size: .75em;
  }

  .bet-amount-input {
    width: 7em;
    text-align: center;
  }

  .bet-challenger-input {
    margin-left: 1rem;
  }

  .secondary-create-bet-details {
    border: none;
    padding: 0rem;
    width: 14em;
    margin: 0;
    background: none;
    color: $secondary-accent-color;
    margin: 0 auto;
  }

  .secondary-input {
    padding: .9em;
    width: 11em;
    font-size: 1em;
    color: black;
    text-align: center;
    display: block;
    margin: 1rem auto;
    background: $my-white;
  }

  .info-title {
    padding: .5rem;
  }
}

.edit-bet-flex {
  display: flex;
  flex-direction: row;
  max-width: 1050px;
  justify-content: space-between;
  margin: 0 auto;
  flex-wrap: wrap;
  padding: 4em 0 1em;
}

.bet-flex-wrap {
  padding-bottom: 0;
}

.bet-charity {
  height: 45px !important;
  background-color: white;
  color: gray;
  text-align: center;
  margin-bottom: 1rem;
}


.submit-bet:hover {
  border: 1px solid $secondary-accent-color;
}

.bet-date-input {
  height: 53px !important;
}



.select-style {
    padding: 0;
    margin: 1rem auto;
    border: 1px dotted black;
    width: 200px;
    border-radius: 6px;
    overflow: hidden;
    background-color: #fff;

    background: #fff url("http://www.scottgood.com/jsg/blog.nsf/images/arrowdown.gif") no-repeat 90% 50%;
}

.select-style select {
    color: #A9A9A9;
    padding: 5px 8px;
    width: 130%;
    text-align: center;
    border: none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}

.select-style select:focus {
    outline: none;
}

.loser-status {
  border: 1px $secondary-accent-color solid;
}



.bet-description-textarea {
   text-align: center;
   font-size: 1em;
   padding: 1em;
   min-height: 6em;
   width: 15em !important;
   border: dotted 1px black !important;
   }

   .bet-deets {
     margin: 0 auto;
     text-align: center;

     h4 {
       color: $secondary-accent-color;
       font-family: 'Raleway', sans-serif;
     }
   }
   @media only screen and (max-width : 920px) {

     .bet-amount-input, .bet-challenger-input {
       margin-top: 1rem;
       margin-left: 0rem !important;
     }

     select {
       margin-top: 1rem;
       margin-left: 0;
     }

     .edit-bet-flex {
       flex-direction: column;
     }


   }
