.hero-section {
  height: 90vh;
  position: relative;
  // background: url(https://opinionize.files.wordpress.com/2012/08/01_20120713_arm_wrestle_00019-v211.jpg) no-repeat center center fixed;
  background: url(https://s3-us-west-2.amazonaws.com/betti/betti-arms-4.jpg) no-repeat center top fixed;
  background-size: cover;
  color: white;
}

.about-stats {
  padding: 5rem 0 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: $secondary-accent-color;
  color: $my-black;
  font-family: monserrat, sans-serif;
}

.about-stat {
  font-size: 5em;
  font-weight: 700;
  }

.about-span {
  font-size: 1rem;
  font-family: Raleway, serif;
}



.landing-content-wrap {
  padding: 2rem;
}

.three-items {
  display: flex;
  width: 85%;
  justify-content: center;
  margin: 0 auto;
}

.landing-block {
  flex-grow: 1;
  width: 25%;
  padding: 1rem 2rem;
  text-align: center;
}

.landing-block-header {
  font-weight: 700;
  font-size: 1.2em;
  text-align: center;
  padding-bottom: 1rem;
}

.landing-content-head {
  text-align: center;
}

.top-hero-line {
  margin-left: .75em;
  padding-top: .6em;
  line-height: 1em;
  color: $my-white;
}

.bottom-hero-line {
  position: absolute;
  right: 0;
  // float: right;
  margin-right: .75em;
  bottom: 15%;
  color: $my-white;
}

.icons {
  font-family: major-wager;
  text-align: center;
  font-size: 1.7em;
  color: $secondary-accent-color;
  padding-bottom: 1rem;
}

.landing-action-buttons {
  display: flex;
  flex-wrap: wrap;
  padding: 2em;
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%,-50%);
  justify-content: center;

  button {
    margin: .4rem 2em;
  }

  button:hover {
    background-color: white;
    color: $secondary-accent-color;
  }

  a {
    color: $my-white;
  }

  a:hover {
    color: $secondary-accent-color;
  }
}

.about-page-pic {
    width: 150px;
    height: auto;
    border-radius: 150px;
    margin: 0 auto;
    text-align: center;
    display: block;
    border: 5px $secondary-accent-color solid;
}

.contact-page {
  text-align: center;
}

.contact-page-content {
  padding: 2rem 0;
  p {
    padding: 2rem 0;
  }
}


@media only screen and (max-width : 920px) {
  .three-items {
    display: block;
  }



  .landing-block {
    margin: 0 auto;
    width: 75%
  }

}

@media only screen and (max-width : 535px) {

  .landing-action-buttons {
    margin-top: 0%;
  }

  .sign-up-button {
    margin-bottom: 1rem !important;
  }

  .bottom-hero-line {
    padding-top: 5em;
    font-size: .5em;
  }

  .top-hero-line {
    font-size: .5em;
  }


}
