.modal-bg {
 position: absolute;
 top: 0;
 right: 0;
 bottom: 0;
 left: 0;
 background: rgba(0,0,0,0.8);
}

.modal-template {
  background-color: white;
  height: 290px;
  z-index: 10000;
  border-radius: .3em;
  position: absolute;
  top: 17em;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;

  .bet-modal-button {
    padding: .6em;
    display: block;
    width: 12em;
    margin: .5rem auto;
  }

  h2 {
    text-align: center;
    color: black;
  }

  select {
    margin: .5rem 0;
  }
}

.modal-text {
  color: black;
  width: 85%;
  margin: 0 auto;
}

.accept {
  background-color: $secondary-accent-color;
}


.close {
  position: absolute;
  width: auto;
  color: black;
  top: -05px;
  right: 8px;
}

.user-stripe-form {
  position: absolute;
  top: 20em;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1em 2rem;
  background: white;
  color: black;
  border-radius: .5em;
  outline: none;
  margin: 0 auto;
  border: 0px;
  width: 400px;
  text-align: center;

  img {
    padding-top: 1.6rem;
    width: 75%;

  }


  input {
    margin-bottom: 1rem;
    color: black;
    padding: .1rem .7rem;
    border-radius: .3em;
    display: inline-block;
  }
  .stripe-form-submit-button {
    width: 50%;
    margin: 0 auto;
    background-color: blue;
    color: white;
  }

  h3  {
    margin: 0;
    padding: 0;
  }

  .form-row {
    text-align: left;
    display: inline-block;
  }

}

.donation-disclaimer {
  font-style: italic;
  font-size: .6em;
  font-weight: bold;

}

.payment-inputs {
  padding-top: 1.5rem;
  text-align: left;
}
.stripe-form-submit-button:hover {
  border: 2px solid $secondary-accent-color;
  background-color: white;
  color: $secondary-accent-color;
}

.stripe-detail-label {
  margin-bottom: 1rem;
  margin-right: 1rem;
}

.close-modal {
position: absolute;
color: black;
top: -15px;
right: -75px;
background: none;
}

.close-modal:hover {
  background: none;
}
