.header-nav, .app-header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-end;
  letter-spacing: 1px;
  // text-transform: lowercase;


  li {
    padding: 1em 3em 1em 2em;
  }

  li:first-child {
    margin-right: auto;
 }

}

.active {
  color: green;
}

// .create-new-bet-li {
//   font-size: 1.4em;
// }


.app-header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-end;
  background: $my-black;
  color: white;
}

.app-header li:hover {
  background-color: $main-accent-color;
}

.header-nav li:first-child {
  margin-right: auto;
}

@media only screen and (max-width : 920px) {
//   li:first-child {
//     margin: auto;
// }


}

@media only screen and (max-width : 620px) {
  .app-header {
    justify-content: flex-start;
    flex-direction: column;
  }
}
