.app-header, .header-nav {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-end;
  letter-spacing: 1px;
  // text-transform: lowercase;


  li {
    font-size: 1.2em;

    a {
      display: block;
      color: $secondary-accent-color;
      text-decoration: none;
      padding: .75rem 2.5rem .75rem 2.5rem;
      // border: 1px solid black;
    }
  }

  li:first-child {
    margin-right: auto;
    font-size: 1.6em;
    // padding-bottom: .6rem;
    font-weight: bold;
 }

  li:last-child {
    color: black;
  }
}

.app-header li:first-child {
  color: white;
}

.active {
  background-color: $secondary-accent-color;
  width: 100%;
}


// .nav-item-explode {
//   height: 100%;
//   width: 100%;
// }

// .create-new-bet-li {
//   font-size: 1.4em;
// }


.app-header {
  background: $my-black;
  color: white;
}


.app-header li:hover {
  background-color: $main-accent-color;
}

.app-header li:first-child:hover {
  background-color: $my-black;
}

// .log-out:hover {
//   background-color: $my-black;
//
// }

.header-nav li:first-child {
  margin-right: auto;
}

.app-header li a{
  display: block;
  color: white;
}

.logo-li {
  font-family: 'McLaren', cursive;
  letter-spacing: 3px;
  color: $secondary-accent-color;
  padding: .75rem 2.5rem .75rem 2.5rem;
}

.header-nav-a {
  padding: .75rem 2.5rem .75rem 2.5rem;
}




@media only screen and (max-width : 920px) {
//   li:first-child {
//     margin: auto;
// }


}

@media only screen and (max-width : 620px) {
  .app-header, .header-nav {
    justify-content: flex-start;
    flex-direction: column;
  }

  li {
    text-align: center;
    // margin: 0 auto;
    padding: 1rem 0rem 1rem 0rem;
  }

  li:first-child {
    margin: 0 auto;
 }
}
