.org-page {

  h2 {
    padding: 1rem 0 .8rem;
    text-align: center;
  }
}

.org-page-img {
  background: url(https://s3-us-west-2.amazonaws.com/betti/black-and-white-photograph-wallpaper_1920x1200_84148.jpg) no-repeat center center fixed;
  background-size: cover;
  height: 50vh;
}

.org-content {
  width: 85%;
  margin: 0 auto;

}



.org-wrap {
  width: 100%;
  margin: 0 auto;

  p {

  }
}
