.org-page, .about-page {

  h2 {
    padding: 1rem 0 .8rem;
    text-align: center;
  }
}

.org-page-img, .about-page-img, .contact-page-img {
  background: url(http://upload.wikimedia.org/wikipedia/commons/1/1b/Frankfurter_stand_LOC_det.4a13502.jpg) no-repeat center center fixed;
  background-size: cover;
  height: 60vh;
  width: 100%;
}

.about-page-img {
  background: url(https://s3-us-west-2.amazonaws.com/betti/football.jpg) no-repeat center center fixed;
  background-size: cover;
  height: 60vh;

}

.contact-page-img {
  background: url(https://s3-us-west-2.amazonaws.com/betti/cars-racing.jpg) no-repeat bottom center fixed;
  background-size: cover;
}

.org-content, .about-content {
  width: 80%;
  margin: 0 auto;
  // padding: 2rem;

}

.org-pic {
  width: 125px;
  height: auto;
  padding-bottom: 1rem;
}


.org-wrap {
  width: 100%;
  margin: 0 auto;
  padding-bottom: 2rem;

  p {

  }
}
