.profile-top-section {

  background-color: $secondary-accent-color;
  padding: 2rem;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;


  h3 {
    margin: 0;
    font-size: 2em;
    padding-bottom: .1em;
  }

  h4 {
    padding: .3rem 0 1rem;
    font-size: 1.2em;
  }


  // h4:after {
  //   content: "f";
  //   font-family: major-wager;
  // }
}

.profile-details-container {
  text-align: center;
  justify-content: center;

}

.profile-img {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  border: 5px solid $main-accent-color;
}

.profile-section-two {
  background-color: $my-black;
  height: 1000px;
  color: white;
}

.charity-edit {
  font-family: major-wager;
  padding-left:1rem;
}

.user-bets-li {
  padding: 2rem 0;
  position: relative;
  background-color: $my-black;
  color: white;

  img {
    border: 3px $secondary-accent-color solid;
  }
}

.user-bets-li:nth-child(even) {
  background-color: $secondary-accent-color;
  color: white;

  img{
    border: 3px $main-accent-color solid;
  }
}


.pay-button {
  margin: 1rem auto;
  width: 10em;

}

.bets-section-1 {
  text-align: center;
    form {
      margin-top: 1rem;
      // text-align: center;
    }

     .stripe-button:hover {
       background-color: white;

       a {
         color: $my-black;
       }
    }
     .stripe-button {
       margin-top: 1rem;
       padding: .5rem;

       a {
         text-decoration: none;
       }
    }

}




@media only screen and (max-width : 920px) {


}

@media only screen and (max-width : 480px) {

  .profile-top-section {
    display: block;
    padding: 2rem;
    text-align: center;

  }


}
