<header class="site-header" ng-include="'/static/nav/app-nav.html'"></header>

<div class="bets-secondary-header">
    <div class="bets-secondary-action-div">


      <div class="search-filter-wrap">
        <div class="search-bar">Search
          <input placeholder="Search by whatever" ng-model="searchText">
        </div>
        <button class="show-filters" ng-click="vm.filterSort=true">sort</button>
      </div>


      <div class="filter-sort-wrap animate-show" ng-show="vm.filterSort===true">
        <!-- <div class="bets-filter">
          <button ng-click="vm.filterBetAll();filter='all'" class="bets-filter-button" ng-class="{'bets-filter-active' : filter === 'all'}">All</button>
          <button ng-click="vm.filterBetActive();filter='active'" class="bets-filter-button" ng-class="{'bets-filter-active' : filter === 'active'}">Active</button>
          <button ng-click="vm.filterBetComplete();filter='complete'" class="bets-filter-button" ng-class="{'bets-filter-active' : filter === 'complete'}">Complete</button>
          <button ng-click="vm.filterBetPending();filter='pending'" class="bets-filter-button" ng-class="{'bets-filter-active' : filter === 'pending'}">Pending</button>
        </div> -->
        <div class="bets-sort">
          <button ng-click="vm.sortBetSize();betsSort='amount'" class="bets-sort" ng-class="{'bets-filter-active' : betsSort === 'amount'}">Bet Size</button>
          <button ng-click="vm.sortFunding();betsSort='total_money_raised'" class="bets-sort" ng-class="{'bets-filter-active' : betsSort === 'total_money_raised'}">Funding</button>
          <button ng-click="vm.sortDate();betsSort='id'" class="bets-sort" ng-class="{'bets-filter-active' : betsSort === 'id'}">Date</button>
          <button class="filter-close" ng-click="vm.filterSort=false">X</button>
        </div>
      </div>
    </div>

</div>


<ul class="bets-ul">
  <li class="bets-li" ng-repeat="bet in vm.bets | filter:searchText" ng-click="vm.goToBet(bet.id)">

  <div class="bets-flex-container">

    <div class="bets-section-1">
      <div class="bets-title">
        <a href="#/bet/{{bet.id}}">{{bet.title}}</a>
      </div>
      <div ng-show="bet.winner_name !== null" class="bet-status number">
        <div id="stat-title-label-winner">Winner</div>
        <div class="bets-actual-winner">{{bet.winner_name}}</div>
      </div>

      <div ng-show="bet.winning_charity_name !== null" class="bet-status number">
        <div id="stat-title-label-winner">Winning Charity</div>
        <div class="bets-actual-winner">{{bet.winning_charity_name}}</div>
      </div>

      <!-- <div class="bets-date">
        {{bet.date | date:'EEEE, MMM d'}}
      </div> -->
      <!-- <div class="bets-amount">
        {{bet.amount | currency:"$":0}}
      </div> -->
      <div class="bets-funding-title">Total Money Pledged</div>
      <div class="bets-funding">{{bet.total_money_raised | currency:"$":0}}</div>
    </div>

    <!-- <div class="prize-purse">
      {{}}
    </div> -->
    <div class="bets-section-2">
      <div class="profile-wrap creator-wrap">
        <div class="creator-pic-div">
          <img class="bets-pic" src="http://graph.facebook.com/{{bet.creator_facebook_id}}/picture?type=large"></img>
        </div>
        <div class="bets-users">
          <a href="#/user/user-profile/{{bet.creator}}">{{bet.creator_name}}</a>
        </div>
        <div></div>
      </div>
    </div>

    <div class="bets-section-3">
      <div class="profile-wrap challenger-wrap">
        <div class="challenger-pic">
          <img class="bets-pic" src="http://graph.facebook.com/{{bet.challenger_facebook_id}}/picture?type=large"></img>
        </div>
        <div class="bets-users">
          <a href="#/user/user-profile/{{bet.challenger}}">{{bet.challenger_name}}</a>
        </div>
      </div>
    </div>

  </div>

  </li>
</ul>
