<header class="site-header" ng-include="'/static/nav/app-nav.html'"></header>

<!-- <button ng-click="vm.testData()">HI DANIEL YOU FUCKER</button> -->
<div class="create-bet-wrapper">
  <h2 class="bet-page-header">Bet Page</h2>

      <div class="bet-title">{{vm.bet.title}}</div>
 <div class="bet-section-top">

    <div class="bet-essentials flex-section-1">
      <div class="creator-pending" ng-show="vm.isPendingCreator">Waiting For Challenger</div>
      <div class="bet-size number">{{vm.bet.amount | currency:"$":0}}</div>
      <div class="info-title">Bet Wager</div>
      <div class="bet-money-earned-wrap number"><h4 class="bet-money-earned">{{vm.bet.total_money_raised | currency:"$":0}}</h4></div>
      <div class="info-title">Total Money Pledged</div>
      <div class="bet-date">{{vm.bet.date | date:'EEEE, MMM d'}}</div>
      <div class="bet-description">{{vm.bet.description}}</div>
      <div ng-show="vm.isLocation()">
        <div class="info-title">Location:</div>
        <div class="location">{{vm.bet.location}}</div>
      </div>

  <div ng-show="vm.showResolutionButton()" class="choose-winner-div">
    <div class="who-won-div">
        <h4>Who Won</h4>
         <button class="bet-win" ng-click="vm.betOutcomeWin()">I WON</button>
         <button class="bet-lose" ng-click="vm.modalaction=true">I LOST</button>
    </div>
  </div>

    </div>

    <div class="better-profile hero-bettor flex-section-2">
      <div class="winner-status" ng-show="vm.creatorWinner()"><img class="winner-img" src="https://s3-us-west-2.amazonaws.com/betti/Golden_Crown.png"></div>
      <div class="user-pic"><img class="user-pic" src="https://graph.facebook.com/{{vm.bet.creator_facebook_id}}/picture?type=large"></div>
      <div class="bettor-name"><a href="#/user/user-profile/{{vm.bet.creator}}">{{vm.bet.creator_name}}</a></div>
      <div class="wins-losses number">{{vm.bet.creator_record}}</div>
      <div ng-show="vm.isActive()" class="crowd-funding-section">
        <button class="donate-button" ng-click="vm.modalDonateCreator=true">$DONATE$</button>
      </div>
      <div class="charity">{{vm.bet.charity_creator}}</div>
    </div>

    <div class="better-profile villian-bettor flex-section-3">
      <div class="winner-status" ng-show="vm.challengerWinner()"><img class="winner-img" src="https://s3-us-west-2.amazonaws.com/betti/Golden_Crown.png"></div>
      <div class="user-pic"><img class="user-pic" src="https://graph.facebook.com/{{vm.bet.challenger_facebook_id}}/picture?type=large"></div>
      <div class="bettor-name"><a href="#/user/user-profile/{{vm.bet.challenger}}">{{vm.bet.challenger_name}}</a></div>
      <div class="wins-losses number">{{vm.bet.challenger_record}}</div>
      <div ng-show="vm.isActive()" class="crowd-funding-section">
        <button class="donate-button" ng-click="vm.modalDonateChallenger=true">$DONATE$</button>
      </div>
      <div class="charity">{{vm.bet.charity_challenger}}</div>
    </div>

 </div>

    <div class="profile-details-wrap">
</button>

      <div class=bet-flex-wrap>

        <div class="area-wrap flex-section-b">
          <area-chart dataset="vm.cleanCreatorData" class="area-chart"></area-chart>
        </div>


      <div class="bet-deets flex-section-a">

          <div ng-show="vm.showResolutionButton()" class="choose-winner-div">
            <div class="choose-winner-wrapper">
                <!-- <p ng-hide="showme">It will appear here!</p> -->

            </div>
         </div>


        <!-- <bet-payment-form ng-if="modalaction" class="bet-pay-form">Payment Form</bet-payment-form>  -->
        <!-- <button ng-if="vm.isChallengeable" ng-hide="!vm.hideme" ng-click="vm.hideme=false">ACCEPT BET</button> -->
        <!-- <button ng-show="vm.isChallengeable" ng-click="vm.showModal=show">ACCEPT BET</button> -->

        <div ng-show="vm.isChallengeable()">
          <form ng-submit="vm.acceptBet()">
            <div class="select-org">Select Organization to Support</div>
            <select class="bet-charity input-primary" ng-model="vm.bet.charity_challenger" required>
                    <option value="" disabled selected>Select Charity</option>
                    <option ng-repeat="charity in vm.charities" value="{{charity.name}}"> {{charity.name}}</option>
            </select>
            <button class="bet-modal-button accept">ACCEPT BET</button>
          </form>

        <button ng-click="vm.deleteBet()" class="bet-modal-button deny">DECLINE BET</button>
      </div>
    </div>

         <div class="area-wrap flex-section-c">
           <area-chart dataset="vm.cleanChallengerData" class="area-chart"></area-chart>
           <!-- <div class="donut-stat-inner-wrap">
             <div class="user-win-streak">{{vm.currentUser.win_streak}}<div class="user-win-streak-label">Win Streak</div></div>
           </div> -->
         </div>



    </div>
 </div>


  <div class="comment-section">
    <h3>Comments & Trash Talk</h3>
    <ul class="comment-ul">
        <li class="comment-li" ng-repeat="comment in vm.bet.comments"><span class="user-comment">{{comment.comment}}</span><span class="comment-name"><a href="#/user/user-profile/{{comment.user_id}}">{{comment.name}}</a></span><span class="comment-date">{{comment.timestamp | date:"short"}}</span></li>
    </ul>

    <form ng-submit="vm.addComment()" class="comment-form">

    <textarea placeholder="comment" ng-model="vm.comment.comment"></textarea>
    <button class="submit-comment">Comment</button>
    </form>
  </div>
</div>


<div ng-show="vm.modalaction===true" class="modal-bg">
    <form id="payment-form" ng-submit="vm.sendStripe(vm.card)" class="user-stripe-form">
      <span class="payment-errors"></span>
      <h3>Pay Your Bet</h3>
      <span class="stripe-detail-label">Bet:</span><span>{{vm.bet.amount | currency}}</span>

      <div class="payment-inputs">
        <div class="form-row">
          <label>
            <input placeholder="Your Name" type="text" size="20" ng-model="vm.card.name">
          </label>
        </div>
        <div class="form-row">
          <label>
            <input placeholder="CVC" type="text" size="5" ng-model="vm.card.cvc" data-stripe="cvc"/>
          </label>
        </div>
        <div class="form-row">
          <label>
            <input placeholder="Card Number" type="text" size="20" ng-model="vm.card.number"  payments-format="card" payments-validate="card" data-stripe="number"/>
          </label>
        </div>

        <div class="form-row">
          <label>
            <input placeholder="MM" type="text" size="3" maxlength="2" ng-model="vm.card.exp_month">
          </label>
        </div>

        <div class="form-row">
          <label>
            <input placeholder="YY" type="text" size="3" maxlength="2" ng-model="vm.card.exp_year">
          </label>
        </div>
      </div>
      <button class="stripe-form-submit-button" ng-click="vm.modalaction=false" type="submit">Pay Bet</button>
      <button ng-click="$event.stopPropagation();$event.preventDefault();vm.modalaction=false;vm.clearForm();" class="close-modal">x</button>
      <img src="https://databaseindays.com/wp-content/themes/striking/stripe/stripe-payments.png">
    </form>
</div>


<div ng-show="vm.modalDonateCreator===true" class="modal-bg">
    <form id="payment-form" ng-submit="vm.sendStripeDonationCreator(vm.card, vm.bet.creator, vm.donation.amount)" class="user-stripe-form">
      <span class="payment-errors"></span>
      <h3>Donate to Bet</h3>
      <!-- <div class="stripe-detail-label">Bet on {{vm.bet.creator_name}}</div> -->

      <div class="payment-inputs">
        <div class="form-row">
          <label>
            <div>Donating for {{vm.bet.creator_name}}</div>
            <input size="7" class="donation-amount-input" placeholder="Amount" ng-model="vm.donation.amount">
        </div><br>

        <div class="form-row">
          <label>
            <input placeholder="Full Name" type="text" size="20" ng-model="vm.card.name">
          </label>
        </div>

        <div class="form-row">
          <label>
            <input type="text" placeholder="CVC" size="4" ng-model="vm.card.cvc" payments-format="cvc" payments-validate="cvc" max-length="4" data-stripe="cvc"/>
          </label>
        </div>

        <div class="form-row">
          <label>
            <input placeholder="Card Number" type="text" size="20" ng-model="vm.card.number" payments-format="card" payments-validate="card" data-stripe="number"/>
          </label>
        </div>

        <div class="form-row">
          <label>
            <input placeholder="MM" type="text" size="3" maxlength="2" ng-model="vm.card.exp_month">
          </label>
        </div>

        <div class="form-row">
          <label>
            <input placeholder="YY" type="text" size="3" maxlength="2" ng-model="vm.card.exp_year">
          </label>
       </div>

      </div>

      <div class="donation-disclaimer">All money donated will go to the winner of the bet's charity.</div>
      <button class="stripe-form-submit-button" ng-click="vm.modalaction=false" type="submit">Pay with Stripe</button>
      <button ng-click="vm.modalDonateCreator=false" class="close-modal">x</button>
      <img src="https://databaseindays.com/wp-content/themes/striking/stripe/stripe-payments.png">
    </form>
</div>


<div ng-show="vm.modalDonateChallenger===true" class="modal-bg">
    <form id="payment-form" ng-submit="vm.sendStripeDonationChallenger(vm.card, vm.bet.challenger, vm.donation.amount)" class="user-stripe-form">
      <span class="payment-errors"></span>
      <h3>Pay With Stripe</h3>
      <!-- <div class="stripe-detail-label">Bet on {{vm.bet.creator_name}}</div> -->


      <div class="form-row">
        <label>
          <div>Donating for {{vm.bet.challenger_name}}</div>
          <input size="7" class="donation-amount-input" placeholder="Amount" ng-model="vm.donation.amount">
      </div><br>

      <div class="form-row">
        <label>
          <input placeholder="Full Name" type="text" size="20" ng-model="vm.card.name">
        </label>
      </div>

      <div class="form-row">
        <label>
          <input placeholder="CVC" type="text" size="5" ng-model="vm.card.cvc" payments-format="cvc" payments-validate="cvc" max-length="4" data-stripe="cvc">
        </label>
      </div>

      <div class="form-row">
        <label>
          <input placeholder="Card Number" type="text" size="20" ng-model="vm.card.number" payments-format="card" payments-validate="card" data-stripe="number">
        </label>
      </div>

      <div class="form-row">
        <label>
          <input placeholder="MM" type="text" size="3" maxlength="2" ng-model="vm.card.exp_month">
        </label>
      </div>

       <div class="form-row">
         <label>
           <input placeholder="YY" type="text" size="3" maxlength="2" ng-model="vm.card.exp_year">
         </label>
      </div>

      <div class="donation-disclaimer">All money donated will go to the winner of the bet's charity.</div>
      <button class="stripe-form-submit-button" ng-click="vm.modalaction=false" type="submit">Pay with Stripe</button>
      <button ng-click="vm.modalDonateChallenger=false" class="close-modal">x</button>
      <img src="https://databaseindays.com/wp-content/themes/striking/stripe/stripe-payments.png">
    </form>
</div>
