

</div><header class="site-header" ng-include="'/static/nav/app-nav.html'">
</header>

<div class="bets-secondary-header"><h2 class="user-page-header">Create Bet</h2></div>

<div class="create-bet-wrapper edit-bet-wrapper">
  <form name="betForm" ng-submit="vm.addBet()">

  <div class="edit-bet-flex">

    <div ng-show="vm.primaryItems===true" class="bet-essentials flex-section-1">
    <h2>Required Bet Items</h2>
    <input name="bet-title-input" class="bet-title-input input-primary" placeholder="Name Your Bet" ng-model="vm.bet.title" required>
    <!-- <input name="bet-challenger-input" class="bet-challenger-input" placeholder="Challenge a Friend" ng-model="vm.bet.challenger"> -->

    <!-- <select class="bet-challenger" ng-model="vm.bet.challenger" required>
            <option value="" disabled selected>Select Challenger</option>
            <option ng-repeat="user in vm.users" value="{{ user.name }}"> {{ user.name }}
            </option>
    </select> -->

    <select class="bet-charity input-primary" name="charityName" ng-model="vm.bet.charity_creator" ng-model-options="{ getterSetter: true }">
            <option value="" disabled selected>Select Charity</option>
            <option ng-repeat="charity in vm.charities" value="{{charity.name}}"> {{charity.name}}</option>
    </select>

    <input ng-model-options="{ getterSetter: true }" ng-keyup="cancel($event)" type="text" name="challengerName" class="form-control bet-challenger input-primary" ng-model="vm.bet.challenger" data-animation="am-flip-x" ng-options="user.name as user.name for user in vm.users" placeholder="Search for a Challenger" bs-typeahead>

    <input name="bet-amount-input" class="bet-amount-input input-primary" placeholder="$$$" ng-model="vm.bet.amount" required>
    <!-- <div class="bet-money-earned-wrap"><h4 class="bet-money-earned">$2,225,000</h4></div> -->
    <!-- <button class="donate-button">$DONATE$</button> -->
  <button ng-click="vm.secondaryItems=true; vm.primaryItems=false; $event.preventDefault(); $event.stopPropagation()" class="secondary-create-bet-details">More Details</button>
  </div>

  <div ng-show="vm.secondaryItems===true" class="profile-details-wrap flex-section-1">
    <div class="edit-bet-flex-wrap">
      <div class="bet-deets flex-section-a">
        <!-- <div class="info-title">Date:</div> -->
        <h2>Secondary Bet Items</h2>
        <div>
         <input type="text" class="form-control form-group date-input-wrap bet-date-input secondary-input"  ng-model="vm.bet.date" placeholder="Date" bs-datepicker>
        </div>

          <!-- <input class="bet-date-input secondary-input" name="bet-date-input" placeholder="When is the bet" ng-model="vm.bet.date"> -->
        <!-- <div class="info-title">Location:</div> -->
        <!-- <div class="location">Location: Unknown</div> -->
        <input name="location-input" class="location-input secondary-input" placeholder="Location" ng-model="vm.bet.location">
        <!-- <div class="info-title">Description:</div> -->
        <textarea name="description-textarea" class="bet-description-textarea secondary-input" placeholder="Describe the Bet" ng-model="vm.bet.description"></textarea>
        <button ng-click="vm.primaryItems=true; vm.secondaryItems=false; $event.preventDefault(); $event.stopPropagation()" class="secondary-create-bet-details">Required Items</button>
      </div>
    </div>
  </div>


      <div class="better-profile hero-bettor flex-section-2">
        <div class="user-pic"><img class="user-pic" src="http://graph.facebook.com/{{vm.currentUser.facebook_id}}/picture?type=large"></div>
        <div class="bettor-name">{{vm.currentUser.name}}</div>
        <div class="charity">{{vm.bet.charity_creator}}</div>
        <div class="wins-losses">{{vm.bet.creator_record}}</div>
      </div>

      <div class="better-profile villian-bettor flex-section-3">
        <div class="user-pic"><img class="user-pic" src="http://1.bp.blogspot.com/-lYpXSzJUQQA/TVVpZAw1i1I/AAAAAAAAABg/UQCaYfGfe4g/s220/profile_blank_gray.jpg"></div>
        <div class="bettor-name">{{vm.bet.challenger}}</div>
        <div class="charity">Charity: Unknown</div>
        <div class="wins-losses"><span class="user-descriptor"></button>{{vm.bet.challenger_record}}</div>
      </div>
    </div>

          <button class="submit-bet">SUBMIT BET</button>
</form>


</div>
